<div class="grid place-items-center">
    <div class="flex justify-center w-2/3">
        <!-- Display Profile -->
        <div *ngIf="errorMessage.length == 0 && !profileLoaded && profile.login.length" class="flex w-2/3">
          <div class="flex flex-col justify-center w-1/2 mr-3">
            <img class="p-2 w-40 h-40 border-2 rounded-full border-slate-300	drop-shadow-md mx-10" alt="Profile Picture" src={{profile.avatar_url}}>
            <div class="flex mt-4">
              <ng-icon name="heroLink" class="text-xl mr-2 font-semibold"></ng-icon>
              <a href={{profile.html_url}} class="block hover:underline font-semibold">{{profile.html_url}}</a>
            </div>
          </div>
          <div class="flex flex-col justify-evenly w-full">
            <p class="font-semibold tracking-wide text-2xl">{{profile.name}}</p>
            <p class="line-clamp-3 text-slate-600	font-medium">{{profile.bio}}</p>
            <div class="flex" *ngIf="profile.location != null">
              <ng-icon name="ionLocation" class="text-2xl text-slate-800"></ng-icon>
              <p class="ml-3 text-slate-700	font-medium">{{profile.location}}</p>
            </div>
          </div>
        </div>
        <!-- No Profile Found -->
        <div *ngIf="errorMessage.length">
            <p class="text-red-600 text-xl text-bold">No Profile Found</p>
        </div>
    </div>
</div>