<!-- Search Bar -->
<app-search-section (sendLoginEvent)="search($event)"></app-search-section>

<!-- Skeleton Loader -->
<app-skeleton-loader [profileLoaded]="ProfileLoaded"></app-skeleton-loader>

<!-- Profile Section -->
<app-profile-section [profile]="profile"  [errorMessage]="errorMessage" [profileLoaded]="ProfileLoaded"></app-profile-section>

<!-- Repository Section -->
<app-repositories-section [repositories]="repositories" [errorMessage]="errorMessage" [profile]="profile" [profileLoaded]="ProfileLoaded" (perPageChangeEvent)="onChange($event)" (pageNumberChange)="onChangePageNumber($event)" [totalPages]="totalPages" [repositoriesLoaded]="repositoriesLoaded"></app-repositories-section>